indo
IndieFaction/*/__pycache__/*
IndieFaction/__pycache__/*
IndieFaction/db.sqlite3

**/*.png
**/*.jpg
**/*.jpeg
!Front-end/indiefaction/src/assets/*
/*/*/migrations/*
!/*/*/migrations/__init__.py

Pinterest/*
!Pinterest/pin.py
Front-end/indiefaction/node_modules